.home-header {
    background-color: transparent;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 4vmin);
    font-weight: bolder;
    color: white;
    position: relative;
  }
  
  .home-title {
    transition: transform 1s ease-in-out;
  }
  
  .home-title.hovered {
    transform: translateY(-200px);
  }
  
  .start-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    opacity: 0;
    animation: slide-up 0.5s forwards;
    background-color: #4b7f92; /* Steel color */
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
  }
  
  .start-button:hover {
    background-color: #cc0000; /* Darker red on hover */
    transform: scale(1.1); /* Slightly enlarge on hover */
    text-decoration: none;
  }
  
  @keyframes slide-up {
    from {
      transform: translateY(100px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }